{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock title %}

{% block body %}
<div class="m-content">
    <div class="col-md-6">
    {{ form_start(product_form) }}
    {{ form_widget(product_form) }}
    {{ form_end(product_form) }}
    </div>
</div>
{% endblock %}
