{% extends 'base.html.twig' %}

{% block body %}
    <h4> Sales products app</h4>
    <br/>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('product.add') }}">Add Product</a>
        <br/>
        <a href="{{ path('sales.list') }}">Sales</a>
        <br/>
        <a href="{{ path('sales.list.dynamic') }}">Sales throwgh API call</a>
    {% endif %}
{% endblock %}
